*{
  font-family: 'Laila', serif;
}


body{
  background-color: black;
    background-image: url(../Images/MGSfox.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
  font-family: 'Laila', serif;
  background-color: lightblue;
	background-image: linear-gradient(to bottom right, gray, black);
	padding: 10px 10px 10px 10px;
	margin-top: -20px;
	margin-left: -20px;
	margin-right: -8px;
	border-bottom: 5px white outset;
	font-weight: bold;
	text-shadow: 2px 2px black;
  color: white;
  text-align: center;
  line-height: 0.5;
  grid-area: header;
  }

  #linkBox{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: auto; 
    align-content: center;
    justify-content: center;
    margin-bottom: 10px;
    line-height: 1.5;  }

  .links{
    font-size: 14px;
    padding-right: 20px;
    font-family: 'Laila', serif;
    color: white;
  
  }
  
  a:link {
    text-decoration: none;
  }
  
  a:hover{
    color: rgb(27, 140, 233);
    font-size: 110%;
  }
  main {
    font-family: 'Laila', serif;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: calc(100vh - 54px);
    grid-area: main;
    color: white;
  }

#cookieClicker{
  margin-left: 5vw;
  margin-top: 5vh;
  height: 50vh;
  width: 20vw;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 15px;
}




  nav {
    background-color: rgba(0, 0, 0, 0.5);
    grid-area: nav;
  }

  #navigation{
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }

  .navigationList{
    margin-right: 20%;
    font-size: 18px;
  }

  a:link {
    
    text-decoration: none;
  }
  aside {
    background-color: rgba(0, 0, 0, 0.5);
    grid-area: aside;
  }
  .banner {
    background-color: rgba(0, 0, 0, 0.5);
    grid-area: banner;
  }
  footer {
    font-family: 'Laila', serif;
    background-color: gray;
	background-image: linear-gradient(to bottom right, gray, black);
	/* position: fixed; 
	bottom: 0; 
  left: 0; */
  padding: 10px 10px 10px 10px;
  margin-bottom: -20px;
	margin-left: -20px;
	margin-right: -8px;
  /* height: 3%;  */
	/* width: 100%; */
	/* text-align: center; */
	border-top: 5px white outset;
	text-shadow: 1px 1px black;
	color: white;
  display: grid;
  grid-template-areas: 
    "footerLeft footerRight";
    grid-area: footer;
  }
  
  #footerLeft{
    margin-left: 5vw;
  }
  #footerRight{
    padding-right: 10px;
  }

  #socialMedias{
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: right;
  }

  .icons{
    height: 30px;
    width: auto;
    padding: 5px;
    padding-top: 10px;
  }

  .container {
    display: grid;
    grid-template-areas: 
      "header"
      "nav"
      "main"
      "aside"
      "banner"
      "footer";
  }

/* Greeting Start */

#greeting{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

/* Greeting End */

/* Calculator Start */
  #calculator{
      background-color: rgb(201, 197, 197);
      height: 160px;
      width: 110px;
      margin: 2px;
      padding: 5px;
      border-color: black;
      border-width: 2px;
      border-style: solid;
      border-radius: 15px;
      margin-left: 20px;
  }
#displayBox{
width: 100px;
margin-left: 3px;

}

#calculatorButtons{
    height: 120px;
    width:120px;
    margin-top: 10px;
    

}
.digitButton{
    padding: 0px;
    background-color: rgb(19, 132, 207);
    height: 20px;
    width: 20px;
    text-align: center;
    margin: 2px;
      
  }

  .functionButton{
    padding: 0px;
    background-color: rgb(19, 207, 176);
    height: 20px;
    width: 20px;
    font-size: 12px;
    text-align: center;
    margin: 2px;
  }

#equals{
    background-color: rgb(230, 88, 88);
    width: 105px;
}  

/* Calculator End */


  
 

/* Clock and Calendar Start */

#clockAndCalendarTitle{
  text-align: center;

}

#clockAndCalendar{
    margin-top: 50px;
    padding: 10px;
    background-color: rgb(27, 140, 233);
    background-image: linear-gradient(to bottom right, white, rgb(27, 140, 233));
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
}

#clockContainer{
  text-align: center;
}

#clock{
  background-color:white;
  text-align: center;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  
}
#calendarMonth{
    background-color:white;
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-bottom: none;
    
}
#calendarDays{
  
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  min-height: calc(20vh - 10px);
  /* grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "calendarDay"; */
  
}

.calendarDay{
  background-color:white;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  font-size: 12px;
  padding-top: 2px;
  padding-left: 2px;
}

#newCalculator{
  margin: 5px;
  width: 140px;
  background-color: rgb(60, 204, 204);
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 15px;
  margin-left: 20px;
  height: 160px;
  width: 110px;
  padding: 5px;
 
}

#newDisplayBox{
  width: 100px;
  align-content: center;
}
#newCalculatorButtons{
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100px;
  margin-left: 5px;
}

.newDigitButton{
  padding: 0px;
  background-color: rgb(212, 216, 219);
  height: 20px;
  width: 20px;
  text-align: center;
  margin: 2px;
}

.newFunctionButton{
  padding: 0px;
  background-color: rgb(19, 101, 207);
  height: 20px;
  width: 20px;
  font-size: 12px;
  text-align: center;
  margin: 2px;
} 

#newEquals{
  background-color: rgb(219, 125, 228);
  width: 105px;
}  


/* ____________________________ */


.item{
  font-size: 14px;
  text-align: left;
}
/* input[type='text'] {
  font-size: 14px;
  padding: 6px;
  border: 1px solid #000;
  border-radius: 3px;
} */

input[type='submit'] {
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  border: solid;
  margin-top: 5px;
  padding: 5px;
  width: 10vh;
}

#newItemButton {
  display: none;
}

#itemField {
  padding-left: 5px;
padding-right: 5px;
width: 140px; 
}

#toDoTitle{
text-align: center;
}
/* _____________________ */

 /* To Do List Start */

 #toDoListContainer{
  margin-top: 50px;
  border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
  width: 150px;
  background-color: rgb(27, 140, 233);
  background-image: linear-gradient(to bottom right, white, rgb(27, 140, 233));
  padding: 5px;
  margin-left:25%;
}

#newToDo{
padding-left: 5px;
padding-right: 5px;
width: 140px; 
}

#toDoList{
  font-size: 14px;
  text-align: left;
  
}

/* To Do List End */

/* Clock and Calendar End */


  @media (min-width: 500px) {
    .container {
      grid-template-columns: 1fr 3fr;
      grid-template-areas: 
        "header  header"
        "nav     main"
        "aside   main"
        "banner  footer";
    }
    #navigation {
      display: flex;
      justify-content: space-between;
    }

    /* Greeting Start */

#greeting{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

/* Greeting End */

/* Calculator Start */
#calculator{
    background-color: rgb(201, 197, 197);
    height: 160px;
    width: 110px;
    margin: 2px;
    padding: 5px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    margin-left: 20px;
}
#displayBox{
width: 100px;
margin-left: 3px;

}

#calculatorButtons{
  height: 120px;
  width:120px;
  margin-top: 10px;
  

}
.digitButton{
  padding: 0px;
  background-color: rgb(19, 132, 207);
  height: 20px;
  width: 20px;
  text-align: center;
  margin: 2px;
    
}

.functionButton{
  padding: 0px;
  background-color: rgb(19, 207, 176);
  height: 20px;
  width: 20px;
  font-size: 12px;
  text-align: center;
  margin: 2px;
}

#equals{
  background-color: rgb(230, 88, 88);
  width: 105px;
}  

/* Calculator End */



/* To Do List Start */

#toDoListContainer{
  margin-top: 50px;
  /* border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px; */
  width: 150px;
  /* background-color: rgb(27, 140, 233); */
  padding: 5px;
  margin-left:1%;
}

#newToDo{
padding-left: 5px;
padding-right: 5px;
width: 140px; 
}

#toDoList{
  font-size: 14px;
  text-align: left;
}

/* Clock and Calendar Start */

#clockAndCalendarTitle{
text-align: center;

}

#clockAndCalendar{
  margin-top: 50px;
  padding: 10px;
}

#clockContainer{
text-align: center;
}

#clock{
background-color:white;
text-align: center;
font-size: 12px;
font-family: 'Times New Roman', Times, serif;
border-color: black;
border-width: 1px;
border-style: solid;

}
#calendarMonth{
  background-color:white;
  text-align: center;
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-bottom: none;
  
}
#calendarDays{

display: grid;
grid-template-columns: repeat(7, 1fr);
min-height: calc(10vh - 10px);
/* grid-template-rows: repeat(5, 1fr);
grid-template-areas: "calendarDay"; */

}

.calendarDay{
background-color:white;
border-color: black;
border-width: 1px;
border-style: solid;
font-size: 8px;

}

#newCalculator{
margin: 5px;
width: 140px;
background-color: rgb(60, 204, 204);
border-color: black;
border-width: 2px;
border-style: solid;
border-radius: 15px;
margin-left: 20px;
height: 160px;
width: 110px;
padding: 5px;

}

#newDisplayBox{
width: 100px;
align-content: center;
}
#newCalculatorButtons{
margin-top: 5px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 100px;
margin-left: 5px;
}

.newDigitButton{
padding: 0px;
background-color: rgb(212, 216, 219);
height: 20px;
width: 20px;
text-align: center;
margin: 2px;
}

.newFunctionButton{
padding: 0px;
background-color: rgb(19, 101, 207);
height: 20px;
width: 20px;
font-size: 12px;
text-align: center;
margin: 2px;
} 

#newEquals{
background-color: rgb(219, 125, 228);
width: 105px;
}  


/* Clock and Calendar End */

  }
  
  @media (min-width: 900px) {
    .container {
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-areas: 
        "header header  header"
        "nav    main    aside"
        "nav    main    banner"
        "footer footer  footer"
     }
     #navigation {
       flex-direction: column;
     }

     /* Greeting Start */

#greeting{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

/* Greeting End */

/* Calculator Start */
#calculator{
    background-color: rgb(201, 197, 197);
    height: 160px;
    width: 110px;
    margin: 2px;
    padding: 5px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    margin-left: 20px;
}
#displayBox{
width: 100px;
margin-left: 3px;

}

#calculatorButtons{
  height: 120px;
  width:120px;
  margin-top: 10px;
  

}
.digitButton{
  padding: 0px;
  background-color: rgb(19, 132, 207);
  height: 20px;
  width: 20px;
  text-align: center;
  margin: 2px;
    
}

.functionButton{
  padding: 0px;
  background-color: rgb(19, 207, 176);
  height: 20px;
  width: 20px;
  font-size: 12px;
  text-align: center;
  margin: 2px;
}

#equals{
  background-color: rgb(230, 88, 88);
  width: 105px;
}  

/* Calculator End */



/* To Do List Start */

#toDoListContainer{
  margin-top: 50px;
  /* border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px; */
  width: 150px;
  /* background-color: rgb(27, 140, 233); */
  padding: 15px;

}

#newToDo{
padding-left: 5px;
padding-right: 5px;
width: 140px; 
}

#toDoList{
  font-size: 14px;
  text-align: left;
}

/* Clock and Calendar Start */

#clockAndCalendarTitle{
text-align: center;

}

#clockAndCalendar{
  margin-top: 50px;
  padding: 10px;
  
}

#clockContainer{
text-align: center;
}

#clock{
background-color:white;
text-align: center;
font-size: 12px;
font-family: 'Times New Roman', Times, serif;
border-color: black;
border-width: 1px;
border-style: solid;

}
#calendarMonth{
  background-color:white;
  text-align: center;
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-bottom: none;
  
}
#calendarDays{

display: grid;
grid-template-columns: repeat(7, 1fr);
min-height: calc(20vh - 10px);
/* grid-template-rows: repeat(5, 1fr);
grid-template-areas: "calendarDay"; */

}

.calendarDay{
background-color:white;
border-color: black;
border-width: 1px;
border-style: solid;
font-size: 8px;
}

#newCalculator{
margin: 5px;
width: 140px;
background-color: rgb(60, 204, 204);
border-color: black;
border-width: 2px;
border-style: solid;
border-radius: 15px;
margin-left: 20px;
height: 160px;
width: 110px;
padding: 5px;

}

#newDisplayBox{
width: 100px;
align-content: center;
}
#newCalculatorButtons{
margin-top: 5px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 100px;
margin-left: 5px;
}

.newDigitButton{
padding: 0px;
background-color: rgb(212, 216, 219);
height: 20px;
width: 20px;
text-align: center;
margin: 2px;
}

.newFunctionButton{
padding: 0px;
background-color: rgb(19, 101, 207);
height: 20px;
width: 20px;
font-size: 12px;
text-align: center;
margin: 2px;
} 

#newEquals{
background-color: rgb(219, 125, 228);
width: 105px;
}  


/* Clock and Calendar End */
  }



  /* Unused stuff */

  /* #list_section {
  text-align: center;
} */

/* h1 {
  color: white;
  margin: 0px auto;
  padding: 20px;
}

ul {
  padding: 0;
}

li {
  background-color: #fff;
  color: #000;
  font-size: 20px;
  list-style-type: none;
  width: 20%;
  margin: 0px auto;
  border-radius: 3px;
  border: 1px solid #000;
  padding: 10px;
  margin-bottom: 10px;
}

p {
  background-color: #fff;
  color: #666;
  padding: 10px;
  display: inline-block;
  margin: 20px auto 20px auto;
  width: 80%;
  border-radius: 5px;
  text-align: center;
} */

/* .item {
  background-color: #fff;
  color: #000;
} */